 @font-face {
   font-family:"Raleigh Rock";
   src:url("../assets/Raleigh_Rock.eot") format("eot"),
       url("../assets/Raleigh_Rock.eot?#iefixed") format("eot"),
       url("../assets/Raleigh_Rock.woff") format("woff"),
       url("../assets/Raleigh_Rock.ttf") format("truetype"),
       url("../assets/Raleigh_Rock.svg#RaleighRock")format("svg");
   font-weight:normal;
   font-style:normal;
 }

.heading{
    /* PARTNERS: */
margin-top: 30px;

}

.what {
     /*WHAT HAPPENED 2: */
/*font-family: HelveticaNeue-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 7px;*/
margin-bottom: -28px;
padding-left: 15px;
float: left;

}
.index {
height: 117px;
}

body {
  margin: 0px;
}




nav {
    /* GALLERY: */
    font-family: Avenir;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.05px;
    /*float: right;*/
    /*margin-top: -75px;*/
    text-decoration: none;
    height: 100%;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
padding-right: 38px;
}

.nav2 {
  font-size: 48px;
}
.nav-items a {
    color: #FFFFFF;
    padding: 10px;
    font-family: Avenir;
    text-decoration: none;
    text-transform: uppercase;
}




.dropdown {
    position: relative;
    display: inline-block;
    font-family: Avenir;
    font-size: 16px;
    /*color: #FFFFFF;*/
    letter-spacing: 1.05px;
    /* Rectangle 4: */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* Rectangle 4: */
    background: #070707;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.7;
}


.dropdown-content a {

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* CHARACTER SPOTLIGHT: */
font-family: Avenir;
font-size: 11px;
color: #FFFFFF;
letter-spacing: 2.9px;
text-transform: uppercase;
opacity: 1;
    /* PARTNERS: */
}



.dropdown-content a:hover {
text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
background: #212020;
border: 1px solid #212020;

}

.dropdown:hover .about {
    text-decoration: underline;
    /*border-radius: 100px;*/
    padding: 6px;
}
.about {
  font-size: 20px;
}
.home {
    text-decoration: none;
}

.home:hover {
      text-decoration: underline;
    /*border-radius: 100px;*/
    padding: 6px;
}

.gallery {
    text-decoration: none;

}

.gallery:hover {
    text-decoration: underline;
    /*border-radius: 100px;*/
    padding: 6px;
}

.cont:hover {
  text-decoration: underline;
}
.take-action {
    /* Rectangle 2: */
border: 2px solid #FFFFFF;
border-radius: 16px;
font-family: Avenir;
font-size: 20px;
color: black;
letter-spacing: 1.05px;
padding: 8px;
text-decoration: none;

}

.take-action:hover {
  border: 2px solid #BDE2BD;
}

.block {
    position: relative;
    width: 100%;
    margin-top: -130px;
    z-index: -1;

}
/* florida ave still: */


.main-logo {
text-align: center;
position: relative;
bottom: 420px;
left: 480px;
height: 130px;

}

.container-fluid {
  /*text-align: -webkit-center;*/
  padding: 0 !important;
}


.trailer {
  width: 100%;
  height: 500px;
  margin-top: 50px;

}



.uncovering {
  /* Uncovering the Roots: */
    font-family: "Raleigh Rock";
    text-align: center;
    /* font-weight: lighter; */

    font-size: 55px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 75px;
    line-height: 1.6;

    position: relative;
}

.landing-essay {
    /* What Happened 2 Choc: */
font-family: Avenir Next;
font-size: 20px;
color: #000000;
line-height: 30px;
width: 800px;
/*margin-left: 34px;*/
margin-top: 50px;
display: block;
text-align: justify;
margin-bottom: 80px;

}

#chocolate-city {
font-family: Avenir Next;
font-style: bold;
font-size: 26px;
}

footer {
/* Rectangle 3: */
position: relative;
background: #232222;
border: 1px solid #736C6C;
/*left: 200px;*/
}

.social {

    padding: 30px;
    display: flex;
    justify-content: center;
}
.twitter{
    max-width: 70px;
    max-height: 70px;
    padding-left: 10px;
}

.facebook{
    width: 43px;
    height: 40px;
    padding-left: 5px;

    margin-bottom: 2px;
}
.instagram {
  height: 44px;
  padding-right: 5px;
  width: 45px;
  margin-top: -1px;
}

.meet-margin {
  margin-top: 30px;
}
.tae {
    position: relative;
    max-height: 690px;
    width: 100%;
    margin-top: -123px;
    z-index: -1;
}

.meet {
  /* MEET THE DIRECTOR: */
  font-family: Avenir;
  text-transform: uppercase;
  font-size: 72px;
  color: #F9F9F9;
  letter-spacing: 6.5px;
  font-weight: normal;
text-align: center;
/*position: absolute;*/
bottom: 430px;
margin-left: 270px;
/*left: 286px;*/
/*margin-right: 250px;*/

}

.tae-name {
  /* MIGNOTAE KEBEDE: */
font-family: AvenirNext-Italic;
font-size: 25px;
color: #000000;
letter-spacing: 3.2px;
font-style: italic;
font-weight: lighter;
margin-top: 4px;
padding-left: 50px;
}

.bio {
  padding-right: 50px;
  padding-left: 50px;

}

.bio p {
line-height: 28px;
}
.director-info {
    /*width: 700px;*/
    /*margin-left: 500px;*/
    /*margin-top: -210px;*/
    /*text-align: justify;*/
    /* A native Californian: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #000000;
letter-spacing: 0;
line-height: 21px;
margin-top: 40px;
margin-bottom: 380px;

}

.list {
    /*margin-top: 60px;*/
    text-align: left;
    margin-top: 40px;
    /*margin-left: 35px;*/

}

.list-about {
  /* About: */
  font-family: AvenirNext-Regular;
  font-size: 25px;
  color: #000000;
  letter-spacing: 3.7px;
margin-left: 10px;
text-transform: uppercase;
padding-left: 25px;
list-style-type: none

}

.list-rest {
  /* CHARACTER SPOTLIGHT: */
font-family: AvenirNext-Regular;
font-size: 14px;
letter-spacing: 3.7px;
padding: 10px;
list-style-type: none
}

.list-rest li {
  font-family: AvenirNext-Regular;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-left: 25px;
}

.list-rest a {
color: #959191;
}

.list-rest a:hover {
/*border-radius: 100px;*/
width: 100px;
font-size: 16px;
  color: #000000;
}

  .spotlight-title {
    font-family: Avenir;
    font-size: 72px;
    color: #F9F9F9;
    letter-spacing: 6.5px;
    font-weight: normal;
  text-align: center;
  position: absolute;
  bottom: 420px;
  left: 265px;
  text-transform: uppercase;
  }

.character {
display: flex;

}
.character-info {
      width: 700px;
      margin-left: 380px;
      margin-top: -190px;
      text-align: justify;
      /* A native Californian: */
  font-family: Avenir;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 21px;
}

.players {

}

.mainwrapper {
/*margin-top: -230px;*/
margin-bottom: 250px;

/*padding-left: 300px;*/
/*margin-left: auto;
margin-right: auto;*/
/*margin-left: 650px;*/
/*display: block;
margin-left: auto;
margin-right: auto;*/
display: flex;
flex-direction: column;
align-items: center;


}

/*.two-pics {
  margin-left: 292px;
}*/
.box {
   cursor: pointer;
   /*float: left;*/
   margin: 0px;
   position: relative;
   overflow: hidden;
   width: 500px;
   height: 780px;
   padding-top: 25px;
   margin-bottom: -80px;
   /*margin-left: 300px;*/



}

.box img {
   position: absolute;
   left: 0;
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   -o-transition: all 300ms ease-out;
   -ms-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
   /*height: 100%;
   width: 100%;*/
   height: 680px;
  width: 500px;
}


.box .caption {
   font-family: Avenir;
   font-size: .5em;
   background-color: rgba(0,0,0,0.8);
   position: absolute;
   color: #fff;
   z-index: 100;
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   -o-transition: all 300ms ease-out;
   -ms-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
   left: 0;
   opacity: 0;
   height: 680px;
   width: 500px;
   /*text-align: left;*/
   padding: 15px;
}



.box:hover .fade-caption {
   opacity: 1;
}

.quotes {
  font-size: 32px;
font-family: HelveticaNeue;
margin-top: 40px;
/* line-height: 50px; */
}

.char-name {
  font-size: 34px;
font-family: "Raleigh Rock";
}





.dc-flag {
margin-bottom: 170px;

}
.partners-title {
    font-family: Avenir;
    font-size: 72px;
    color: #F9F9F9;
    letter-spacing: 6.5px;
    font-weight: normal;
  text-align: center;
  position: absolute;
  bottom: 380px;
  left: 430px;
  text-transform: uppercase;

}

.partners-div {
  width: 700px;
  /*margin-left: 380px;*/
  /*margin-top: -250px;*/
  text-align: justify;

}

.partners-lead{
font-family: Avenir;
/*font-weight: lighter;*/
font-size: 24px;
color: #000000;
margin-top: 50px;
}

.partnerslist-title {
  /* PARTNERS: */
  font-family: AvenirNext-UltraLight;
  font-size: 32px;
  color: #000000;
  letter-spacing: 2.96px;
  /*font-weight: lighter;*/
}

.line-1 {
  width: 830px;
}

.line-2 {
  margin-bottom: 170px;
  position: absolute;
  margin-left: 100px;
  margin-top: 170px;

}

.line-3 {
position: relative;
margin-left: 260px;

}

.lines {
  /*margin-left: 100px;
  margin-top: 100px;*/
}

.sponsor-image1 {
  max-width: 180px;
  max-height: 180px;
  /*bottom: 200px;
  margin-right: 150px;*/
}
.sponsor-image2 {
  max-width: 180px;
  max-height: 180px;
  /*margin-top: -400px;
  margin-right: 150px;
  margin-left: 70px;*/
}

.sponsor-image3 {
  max-width: 180px;
  max-height: 180px;

}

.sponsor-image4 {
  max-width: 180px;
  max-height: 180px;
}
.sponsor-image5 {
  max-width: 180px;
  max-height: 180px;
}
.interested {
  /* Interested in becomi: */
font-family: AvenirNext-Regular;
font-size: 18px;
color: #000000;
letter-spacing: 0.5px;
margin-top: 70px;
}

.line-4 {
  margin-top: 10px;
  width: 710px;
}
.donors {
  /* INDIVIDUAL DONORS: */
font-family: AvenirNext-UltraLight;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
text-transform: uppercase;
margin-top: 40px;
}

.crowd {
  /* Crowdfunding Support: */
font-family: AvenirNext-Medium;
font-size: 18px;
color: #000000;
letter-spacing: 1.5px;
margin-top: -40px;
}

.crowd-list{
  margin-top: 35px;
}
.flex-1 li {
  list-style-type: none;
  margin-left: -40px;
  /* Loza Dejene LucyRose: */
font-family: AvenirNext-UltraLight;
font-size: 18px;
color: #000000;
/*text-decoration: underline;*/
}
.flex-2 li {
  list-style-type: none;
  margin-left: 150px;
  /* Loza Dejene LucyRose: */
font-family: AvenirNext-UltraLight;
font-size: 18px;
color: #000000;
/*text-decoration: underline;*/
}
.list-flex {
  display: flex;
}

.donate-button {
  /* Rectangle 5: */
background: rgba(0,0,0,0.00);
border: 3px solid #000000;
border-radius: 100px;
margin-top: 30px;
font-size: 25px;
/* DONATE NOW: */
font-family: HelveticaNeue-Medium;
color: #000000;
letter-spacing: 2px;
text-transform: uppercase;

}

.donate-button2 {
  background: rgba(0,0,0,0.00);
  border: 3px solid #000000;
  border-radius: 100px;
  margin-top: 10px;
  font-size: 25px;
  /* DONATE NOW: */
  font-family: HelveticaNeue-Medium;
  color: #000000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.donate-button2:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.donate-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.line-5 {
margin-top: 60px;
margin-right: 300px;
width: 710px;
}

.become {
  /* BECOME A PARTNER: */
font-family: Avenir-light;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
margin-top: 50px;
}

.if-you {
  /* If you would like to: */
font-family: Avenir-light;
font-size: 18px;
color: #000000;
letter-spacing: 1.66px;
padding-bottom: 10px;

}

.partners-space {
margin-left: -400px;
padding-bottom: 80px;

}



.organization-name {
  background: rgba(239,239,239,0.77);
  border: 2px solid #9B9B9B;
  height: 30px;
  width: 316px;
}
.mural {
    position: relative;
    /*width: 100%;*/
    margin-top: -300px;
    z-index: -1;

}

.take {
    font-family: Avenir;
    font-weight: lighter;
    font-size: 72px;
    color: white;
    letter-spacing: 2.9px;
    text-align: center;
    position: absolute;
    bottom: 540px;
    left: 490px;

}

.action-join {

}

.join {
    /* Rectangle 5 Copy 2: */
background: #42B89E;
border: 3px solid #42B89E;
border-radius: 100px;
text-align: center;
position: absolute;
bottom: 490px;
left: 620px;
font-size: 30px;
/* JOIN US: */
font-family: Avenir;
color: #FFFFFF;
letter-spacing: 2px;
width: 200px;
}

.join:hover {
    background-color: white;
    color: #42B89E;
}

.inception {
    /* From its inception,: */
font-family: Avenir;
font-size: 23px;
color: #000000;
letter-spacing: 1px;
text-align: center;
width: 75%;
margin-left: auto;
margin-right: auto;
padding-top: 20px;

}

.donate {

font-family: HelveticaNeue;
font-weight: lighter;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
}

.your-donations {
    /* Your donations will: */
font-family: Avenir;
font-size: 20px;
color: #000000;
letter-spacing: 1px;


}

.paypal{
    width: 80px;

}


.donate-info {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.action-body {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  flex-grow: 1
}

.list-serv {
    text-align: center;
    width: 30%;
    /*float: right;*/
    /*margin-right: 50px;*/
    /*margin-top: -260px;*/

}

.join-serv {
  font-family: HelveticaNeue;
  font-weight: lighter;
  font-size: 32px;
  color: #000000;
  letter-spacing: 2.96px;

}

.join-us:hover {
        background-color: white;
        color: black;
}

.join-us {
    /* Rectangle 5 Copy 2: */
font-family: Avenir;
background: #000000;
border: 3px solid #000000;
border-radius: 100px;
color: white;
width: 100px;
margin-left: 0px;
font-size: 28px;

}

.join-div{
  margin-top: 65px;
}


.whole-action {
    margin-bottom: 70px;
    padding-top: 20px;
}
.full-action {
  margin-bottom: 700px;
}
.hst {
    position: relative;
    width: 100%;
    margin-top: -300px;
    z-index: -1;
    opacity: 1.0;
}

.container {
  position:relative;
}

.container video {

    position:relative;

    z-index:0;

}

.overlay {

    position:absolute;

    top:0;

    left:0;

    z-index:1;

}


.gallerynine {
    /*background-image: url(/public/assets/Stuart-B&W-still.png);*/
    /*min-width: 400px;
    min-height: 250px;*/
    /*background-size: cover;
    background-repeat: no-repeat;*/
    /*flex-grow: 1;*/
    /*margin: 5px;*/
}
.galleryten {

  }

.gallerypics {

  height: 352px;
  padding: 5px;


    /* reset the text-align */

    /* inline-block space fix */
    margin-right:-17px;


}

.gallerytask {



}



.gallery-title1 {
    font-family: Avenir;
    font-size: 72px;
    color: #F9F9F9;
    letter-spacing: 6.5px;
    font-weight: normal;
  text-align: center;
  position: absolute;
  bottom: 390px;
  left: 540px;
  text-transform: uppercase;

}

.gallery-images {

/*display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: 10px;*/


}


.form{
margin-left: 400px;
}

.form2 {

}

.first-contact {
    /* Rectangle 6: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
width: 150px;
height: 30px;
margin-right: 20px;
margin-bottom: 10px;

}

.first-contact2 {
  background: rgba(239,239,239,0.77);
  border: 2px solid #9B9B9B;
  width: 150px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.second-contact {
    background: rgba(239,239,239,0.77);
    border: 2px solid #9B9B9B;
    width: 150px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.second-contact2 {
  background: rgba(239,239,239,0.77);
  border: 2px solid #9B9B9B;
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.email, .subject {
    /* Rectangle 6 Copy 2: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 30px;
width: 337px;
margin-bottom: 10px;
}

.email2, .subject2 {
    /* Rectangle 6 Copy 2: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 30px;
width: 337px;
margin-bottom: 10px;
}

#email-word {
  /* Name*: */
font-family: Palatino-Roman;

color: #000000;
letter-spacing: 0.36px;

}

#email-word2 {
  font-family: Palatino-Roman;

  color: #000000;
  letter-spacing: 0.36px;
}
.message {
    /* Rectangle 6 Copy 4: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 120px;
width: 337px;
margin-top: 10px;
}

.message2 {
  background: rgba(239,239,239,0.77);
  border: 2px solid #9B9B9B;
  height: 120px;
  width: 337px;
  margin-top: 10px;
}

.contact-name {
    display: flex;


}
.contact-name2 {
  display: flex;
}
.first-last {
  display: flex;
}

.first-last2 {
  display: flex;
}
#first-name {
margin-bottom: -23px;
/* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}
#first-name2 {
  margin-bottom: -23px;
  /* Name*: */
  font-family: Palatino-Roman;
  color: #000000;
  letter-spacing: 0.36px;
}
#last-name{
  margin-left: 100px;

  margin-bottom: 0px;
  /* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}

#last-name2 {
  margin-left: 100px;

  margin-bottom: 0px;
  /* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}


.contact {
    /*margin-left: 400px;*/
    font-family: HelveticaNeue-Light;
    font-weight: lighter;
    font-size: 32px;
    color: #000000;
    letter-spacing: 2.96px;
    padding-right: 157px;
}

.contact-space {

/*margin-left: 150px;*/
margin-bottom: 720px;
margin-top: 25px;
/*left: 100px;
right: 250px;*/
display: flex;
flex-direction: column;
align-items: center;


}

.construction {
    position: relative;
    width: 100%;
    margin-top: -300px;
    z-index: -1;
}

.contact-us2 {

        font-family: Avenir;
        font-size: 72px;
        font-weight: lighter;
        color: white;
        letter-spacing: 2.9px;
        text-align: center;
        position: absolute;
        bottom: 400px;
        left: 460px;
}
.submit {

margin-top: 30px;
font-family: Avenir;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 2px;
background: #000000;
border: 3px solid #000000;
border-radius: 100px;
text-transform: uppercase;

}

.submit2 {
  margin-top: 30px;
  font-family: Avenir;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  background: #000000;
  border: 3px solid #000000;
  border-radius: 100px;
  text-transform: uppercase;

}

.submit-partners {
  font-family: HelveticaNeue-Medium;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  background: #000000;
  border: 3px solid #000000;
  border-radius: 100px;
  margin-top: 30px;
}

.submit:hover {
    background-color: white;
    color: black;
}

.trailer-title {
  font-family: Avenir;
  text-transform: uppercase;
  font-size: 72px;
  color: #F9F9F9;
  letter-spacing: 6.5px;
  font-weight: normal;
text-align: center;
/*display: flex;
justify-content: center;*/
position: absolute;
bottom: 450px;
margin-left: 480px;
}

.soon {
  font-family: AvenirNext;
  font-size: 50px;
  color: #000000;
  letter-spacing: 3.2px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 950px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: relative;

}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc2 {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;


}
.wayne-title {
  font-family: Avenir;
  font-size: 72px;
  color: #F9F9F9;
  letter-spacing: 6.5px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.wayne-title2 {
  font-family: Avenir;
  font-size: 72px;
  color: #F9F9F9;
  letter-spacing: 6.5px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 200px;

}

.wh2cc {
  font-family: Avenir;
  font-size: 21px;
  color: #F9F9F9;
  letter-spacing: 6.5px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin-top: -75px;
  padding-left: 15px;

}

/*.wh2cc2 {
  font-family: Avenir;
  font-size: 22px;
  letter-spacing: 6.5px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;

}*/
