@font-face {
  font-family:"RaleighRock";
  src:url("../assets/RaleighRock.eot") format("eot"),
      url("../assets/RaleighRock.eot?#iefixed") format("eot"),
      url("../assets/RaleighRock.woff") format("woff"),
      url("../assets/RaleighRock.ttf") format("truetype"),
      url("../assets/RaleighRock.svg")format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
 font-family:"Futura";
 src: url("../assets/FuturaCondensedMedium.otf");
}

@font-face {
   font-family: AvenirNextRegular;
   src: url("../assets/AvenirNextRegular08.ttf");
   font-weight:normal;
}

@font-face {
   font-family: AvenirNextItalic;
   src: url("../assets/AvenirNextItalic05.ttf");
   font-weight:normal;
}

@font-face {
   font-family: AvenirNextMedium;
   src: url("../assets/AvenirNextMedium06.ttf");
   font-weight:normal;
}

@font-face {
   font-family: AvenirNextUltra;
   src: url("../assets/AvenirNextUltraLight11.ttf");
   font-weight:normal;
}

@font-face {
   font-family: AvenirLight;
   src: url("../assets/AvenirLight07.ttf");
   font-weight:normal;
}



@font-face {
   font-family:"DontMeltDripRegular";
   src:url("../assets/DontMeltDripRegular.eot") format("eot"),
       url("../assets/DontMeltDripRegular.woff")format("woff"),
       url("../assets/DontMeltDripRegular.ttf")format("truetype"),
       url("../assets/DontMeltDripRegular.svg")format("svg");
   font-weight:normal;
   font-style:normal;
  }


.heading{
   /* PARTNERS: */
margin-top: 30px;

}

.what {
    /*WHAT HAPPENED 2: */
/*font-family: HelveticaNeue-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 7px;*/
margin-bottom: -28px;
padding-left: 15px;
float: left;

}
.index {
height: 117px;
}

body {
 margin: 0px;

}
#sticky-banner {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 10px;

 /* Rectangle 5: */
background: #7F8596;
}

#sticky-banner h1 {
 margin: 0;
 font-size: 12px;
 color: #FFFFFF;
 text-align: center;
 opacity: 1.0;
}
.buy {
 color: #FFFFFF;
 text-decoration: underline;
}


.cool a {
   color: #FFFFFF;
   font-size: 24px;
   font-family: AvenirNextRegular;
   text-transform: uppercase;
   background: none !important;
}

.cool a:hover {
 color: #ffffff;
 text-decoration: underline !important;
 background: none !important;

}


.cool a:focus{

 color: #ffffff;
}






.dropdown-content a:hover {
text-decoration: underline;
}

.dropdown:hover .dropdown-content {
   display: block;
background: #212020;
border: 1px solid #212020;

}

.dropdown:hover .about {
   text-decoration: underline;
   /*border-radius: 100px;*/
   padding: 6px;
}







.take-action {
   /* Rectangle 2: */
border: 2px solid #FFFFFF;
border-radius: 100px;
font-family: AvenirNextRegular;
font-size: 20px;
color: black;
letter-spacing: 1.05px;
padding: 8px;
text-decoration: none;
margin-right: 20px;


}


.block {
   position: relative;
   width: 100%;
   margin-top: -130px;
   z-index: -1;

}
/* florida ave still: */


.main-logo {
text-align: center;
position: relative;
bottom: 420px;
left: 480px;
height: 130px;

}

.container-fluid {
 /*text-align: -webkit-center;*/
 padding: 0 !important;
}
.trailer-main{
 margin-bottom: 200px;
}


.trailer {
 margin-top: 50px;
 width:980px;
 height: 515px;
 
 }
 
 .trailerpart {
 text-align: center;
 }




.ticket1 {
 display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.ticketbtn1 {



/* Rectangle 6: */
background: #E27E6F;
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
border-radius: 6px;
/* Buy Ticket: */
font-family: AvenirNextMedium;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.39px;

}

.ticketbtn2 {



/* Rectangle 6: */
background: #E27E6F;
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
border-radius: 6px;
/* Buy Ticket: */
font-family: AvenirNextMedium;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.39px;

}


.ticket2 {
 display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top: 30px;

}



.uncovering {

 font-family: "RaleighRock";
 font-size: 38px;
 line-height:100px;
 color: #000000;
 letter-spacing: 2.88px;
 /* text-shadow: 0 2px 6px #4A4A4A; */
 text-align: center;
 margin-top: 60px;
}




.landing-essay {
   /* What Happened 2 Choc: */
font-family: AvenirNextRegular;
font-size: 20px;
color: #000000;
line-height: 30px;
width: 800px;
/*margin-left: 34px;*/
margin-top: 50px;
display: block;
text-align: justify;
margin-bottom: 80px;

}

.third {
 margin-top: 25px;
}

.second {
 margin-top: 25px;
}

.third {
 margin-top: 35px;
}

#chocolate-city {
font-family: AvenirNextRegular;
font-style: normal;
font-size: 26px;
}

footer {
/* Rectangle 3: */
position: relative;
background: #232222;
border: 1px solid #736C6C;
/*left: 200px;*/
}


.social {

 padding: 30px;
 display: flex;
 justify-content: center;
}


.facebook{
 width: 18px;
 height: 18px;
margin-top:15px


}
.instagram {
height: 20px;
padding-right:2px;
width: 20px;
margin-top: 0px;
margin-top:14px
}

.meet-margin {
 margin-top: 30px;
}
.tae {
   position: relative;
   max-height: 1000px;
   width: 100%;
   margin-top: -123px;
   z-index: -1;
}

.meet {
 /* MEET THE DIRECTOR: */
 font-family: AvenirNextRegular;
 text-transform: uppercase;
 font-size: 72px;
 color: #F9F9F9;
 letter-spacing: 6.5px;
 font-weight: normal;
text-align: center;
/*position: absolute;*/
bottom: 430px;
margin-left: 270px;
/*left: 286px;*/
/*margin-right: 250px;*/

}

.tae-name {
 /* MIGNOTAE KEBEDE: */
font-family: AvenirNextItalic;
font-size: 25px;
color: #000000;
letter-spacing: 3.2px;
font-style: normal;
font-weight: lighter;
margin-top: 4px;
padding-left: 50px;
}

.bio {
 padding-right: 50px;
 padding-left: 50px;

}

.bio p {
line-height: 28px;
color: #000000;
}
.cmon {
 background-color: #000000;
}



.director-info {
   /*width: 700px;*/
   /*margin-left: 500px;*/
   /*margin-top: -210px;*/
   /*text-align: justify;*/
   /* A native Californian: */
font-family: AvenirNextRegular;
font-size: 16px;

letter-spacing: 0;
line-height: 21px;
margin-top: 40px;
margin-bottom: 20px;

}

.newmigshot {
 width: 45%;
 margin-left: 50px;
 margin-bottom: 50px;
}

.list {
   /*margin-top: 60px;*/
   text-align: left;
   margin-top: 40px;
   /*margin-left: 35px;*/

}

.list-about {
 /* About: */
 font-family: AvenirNextRegular;
 font-size: 25px;
 color: #000000;
 letter-spacing: 3.7px;
margin-left: 10px;
text-transform: uppercase;
padding-left: 25px;
list-style-type: none

}

.list-rest {
 /* CHARACTER SPOTLIGHT: */
font-family: AvenirNextRegular;
font-size: 14px;
letter-spacing: 3.7px;
padding: 10px;
list-style-type: none
}

.list-rest li {
 font-family: AvenirNextRegular;
 padding-bottom: 10px;
 text-transform: uppercase;
 padding-left: 25px;
}

.list-rest a {
color: #959191;
}

.list-rest a:hover {
/*border-radius: 100px;*/
width: 100px;
font-size: 16px;
 color: #000000;
}

 .spotlight-title {
   font-family: AvenirNextRegular;
   font-size: 72px;
   color: #F9F9F9;
   letter-spacing: 6.5px;
   font-weight: normal;
 text-align: center;
 position: absolute;
 bottom: 420px;
 left: 265px;
 text-transform: uppercase;
 }

.character {
display: flex;

}
.character-info {
     width: 700px;
     margin-left: 380px;
     margin-top: -190px;
     text-align: justify;
     /* A native Californian: */
 font-family: AvenirNextRegular;
 font-size: 16px;
 color: #000000;
 letter-spacing: 0;
 line-height: 21px;
}



.mainwrapper {
/*margin-top: -230px;*/
margin-bottom: 250px;

/*padding-left: 300px;*/
/*margin-left: auto;
margin-right: auto;*/
/*margin-left: 650px;*/
/*display: block;
margin-left: auto;
margin-right: auto;*/
display: flex;
flex-direction: column;
align-items: center;


}

/*.two-pics {
 margin-left: 292px;
}*/
.box {
  cursor: pointer;
  /*float: left;*/
  margin: 0px;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 780px;
  padding-top: 25px;
  margin-bottom: -80px;
  /*margin-left: 300px;*/



}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  /*height: 100%;
  width: 100%;*/
  height: 690px;
 width: 460px;
}


.box .caption {
  font-family: AvenirNextRegular;
  font-size: .5em;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  opacity: 0;
  height: 690px;
  width: 460px;
  /*text-align: left;*/
  padding: 15px;
}



.box:hover .fade-caption {
  opacity: 1;
}

.quotes {
 font-size: 32px;
 font-family:"Futura";
margin-top: 0px;
text-align: center;
/* line-height: 50px; */
}

#single-quote {
 font-size: 64px;
 font-family: Helvetica-Neue;
 margin-top: 60px;
 text-align: center;
 display: block;
}

#single-quote2 {
 font-size: 64px;
 font-family: Helvetica-Neue;
 margin-top: 30px;
 text-align: center;
 display: block;
}


.char-name {
 font-size: 34px;
font-family: "RaleighRock";
}





.dc-flag {
margin-bottom: 170px;

}
.partners-title {
   font-family: AvenirNextRegular;
   font-size: 72px;
   color: #F9F9F9;
   letter-spacing: 6.5px;
   font-weight: normal;
 text-align: center;
 position: absolute;
 bottom: 380px;
 left: 430px;
 text-transform: uppercase;

}

.partners-div {
 width: 700px;
 /*margin-left: 380px;*/
 /*margin-top: -250px;*/
 text-align: justify;

}

.partners-lead{
font-family: AvenirNextRegular;
/*font-weight: lighter;*/
font-size: 24px;
color: #000000;
margin-top: 50px;
}

.partnerslist-title {
 /* PARTNERS: */
 font-family: AvenirNextUltra;
 font-size: 32px;
 color: #000000;
 letter-spacing: 2.96px;
 /*font-weight: lighter;*/
}



.line-2 {
 margin-bottom: 170px;
 position: absolute;
 margin-left: 100px;
 margin-top: 170px;

}

.line-3 {
position: relative;
margin-left: 260px;

}



.sponsor-image1 {
 max-width: 180px;
 max-height: 180px;
 /*bottom: 200px;
 margin-right: 150px;*/
}
.sponsor-image2 {
 max-width: 180px;
 max-height: 180px;
 /*margin-top: -400px;
 margin-right: 150px;
 margin-left: 70px;*/
}

.sponsor-image3 {
 max-width: 180px;
 max-height: 180px;

}

.sponsor-image4 {
 max-width: 180px;
 max-height: 180px;
}
.sponsor-image5 {
 max-width: 180px;
 max-height: 180px;
}
.interested {
 /* Interested in becomi: */
font-family: AvenirNextRegular;
font-size: 18px;
color: #000000;
letter-spacing: 0.5px;
margin-top: 70px;
}

.line-4 {
 margin-top: 10px;
 width: 710px;
}
.donors {
 /* INDIVIDUAL DONORS: */
font-family: AvenirNextUltra;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
text-transform: uppercase;
margin-top: 40px;
}

.crowd {
 /* Crowdfunding Support: */
font-family: AvenirNextMedium;
font-size: 18px;
color: #000000;
letter-spacing: 1.5px;
margin-top: -40px;
}

.crowd-list{
 margin-top: 35px;
}
.flex-1 li {
 list-style-type: none;
 margin-left: -40px;
 /* Loza Dejene LucyRose: */
font-family: AvenirNextUltra;
font-size: 18px;
color: #000000;
/*text-decoration: underline;*/
}
.flex-2 li {
 list-style-type: none;
 margin-left: 150px;
 /* Loza Dejene LucyRose: */
font-family: AvenirNextUltra;
font-size: 18px;
color: #000000;
/*text-decoration: underline;*/
}
.list-flex {
 display: flex;
}

.donate-button {
 /* Rectangle 5: */
background: rgba(0,0,0,0.00);
border: 3px solid #000000;
border-radius: 100px;
margin-top: 30px;
font-size: 25px;
/* DONATE NOW: */
font-family: HelveticaNeue-Medium;
color: #000000;
letter-spacing: 2px;
text-transform: uppercase;

}

.donate-button2 {
 background: rgba(0,0,0,0.00);
 border: 3px solid #000000;
 border-radius: 100px;
 margin-top: 10px;
 font-size: 25px;
 /* DONATE NOW: */
 font-family: HelveticaNeue-Medium;
 color: #000000;
 letter-spacing: 2px;
 text-transform: uppercase;
}

.donate-button2:hover {
 background-color: #000000;
 color: #FFFFFF;
}

.donate-button:hover {
 background-color: #000000;
 color: #FFFFFF;
}
.line-5 {
margin-top: 60px;

}

.become {
 /* BECOME A PARTNER: */
font-family: AvenirLight;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
margin-top: 50px;
}

.if-you {
 /* If you would like to: */
font-family: AvenirLight;
font-size: 18px;
color: #000000;
letter-spacing: 1.66px;
padding-bottom: 10px;

}

.partners-space {
margin-left: -400px;
padding-bottom: 80px;

}



.organization-name {
 background: rgba(239,239,239,0.77);
 border: 2px solid #9B9B9B;
 height: 30px;
 width: 316px;
}
.mural {
   position: relative;
   /*width: 100%;*/
   margin-top: -300px;
   z-index: -1;

}

.take {
   font-family: AvenirNextRegular;
   font-weight: lighter;
   font-size: 72px;
   color: white;
   letter-spacing: 2.9px;
   text-align: center;
   position: absolute;
   bottom: 540px;
   left: 490px;

}


.join {
   /* Rectangle 5 Copy 2: */
background: #42B89E;
border: 3px solid #42B89E;
border-radius: 100px;
text-align: center;
position: absolute;
bottom: 490px;
left: 620px;
font-size: 30px;
/* JOIN US: */
font-family: AvenirNextRegular;
color: #FFFFFF;
letter-spacing: 2px;
width: 200px;
}

.join:hover {
   background-color: white;
   color: #42B89E;
}

.inception {
   /* From its inception,: */
font-family: AvenirNextRegular;
font-size: 23px;
color: #000000;
letter-spacing: 1px;
text-align: center;
width: 75%;
margin-left: auto;
margin-right: auto;
padding-top: 20px;

}

.donate {

font-family: HelveticaNeue;
font-weight: lighter;
font-size: 32px;
color: #000000;
letter-spacing: 2.96px;
text-align: center;
}

.donate2 {
 font-family: HelveticaNeue;
 font-weight: lighter;
 font-size: 32px;
 color: #000000;
 letter-spacing: 2.96px;
 margin-top: 40px;
 text-align: center;
}
.your-donations {
   /* Your donations will: */
font-family: AvenirNextRegular;
font-size: 20px;
color: #000000;
letter-spacing: 1px;
width: 50%;
display: block;
 margin-left: auto;
 margin-right: auto;



}

.paypalbutton {

width: 150px;
display: block;
 margin-left: auto;
 margin-right: auto;
}

.donate-info {


   margin-left: auto;
   margin-right: auto;
   padding-bottom: 100px;
}
.action-body {
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 100px;
 display: flex;
 flex-wrap: wrap;
 padding-left: 200px;
 flex-grow: 1
}

.list-serv {
   text-align: center;
   width: 30%;
   /*float: right;*/
   /*margin-right: 50px;*/
   /*margin-top: -260px;*/

}

.join-serv {
 font-family: HelveticaNeue;
 font-weight: lighter;
 font-size: 32px;
 color: #000000;
 letter-spacing: 2.96px;

}

.join-us:hover {
       background-color: white;
       color: black;
}

.join-us {
   /* Rectangle 5 Copy 2: */
font-family: AvenirNextRegular;
background: #000000;
border: 3px solid #000000;
border-radius: 100px;
color: white;
width: 100px;
margin-left: 0px;
font-size: 28px;

}

.join-div{
 margin-top: 65px;
}


.whole-action {
   margin-bottom: 70px;
   padding-top: 20px;
}
.full-action {
 margin-bottom: 500px;
}
.hst {
   position: relative;
   width: 100%;
   margin-top: -300px;
   z-index: -1;
   opacity: 1.0;
}

.container {
 position:relative;
}

.container video {

   position:relative;

   z-index:0;

}

.overlay {

   position:absolute;

   top:0;

   left:0;

   z-index:1;

}




.gallerypics {

 height: 387px;
 padding: 5px;


   /* reset the text-align */

   /* inline-block space fix */



}

.gallerytask {

padding-top: 30px;

}



.gallery-title1 {
   font-family: AvenirNextRegular;
   font-size: 72px;
   color: #F9F9F9;
   letter-spacing: 6.5px;
   font-weight: normal;
 text-align: center;
 position: absolute;
 bottom: 390px;
 left: 540px;
 text-transform: uppercase;

}




.form{
margin-left: 400px;
}



.first-contact {
   /* Rectangle 6: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
width: 150px;
height: 30px;
margin-right: 20px;
margin-bottom: 10px;

}

.first-contact2 {
 background: rgba(239,239,239,0.77);
 border: 2px solid #9B9B9B;
 width: 150px;
 height: 30px;
 margin-right: 20px;
 margin-bottom: 10px;
}
.second-contact {
   background: rgba(239,239,239,0.77);
   border: 2px solid #9B9B9B;
   width: 150px;
   height: 30px;
   margin-left: 10px;
   margin-bottom: 10px;
}

.second-contact2 {
 background: rgba(239,239,239,0.77);
 border: 2px solid #9B9B9B;
 width: 150px;
 height: 30px;
 margin-left: 10px;
 margin-bottom: 10px;
}

.email, .subject {
   /* Rectangle 6 Copy 2: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 30px;
width: 337px;
margin-bottom: 10px;
}

.email2, .subject2 {
   /* Rectangle 6 Copy 2: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 30px;
width: 337px;
margin-bottom: 10px;
}

#email-word {
 /* Name*: */
font-family: Palatino-Roman;

color: #000000;
letter-spacing: 0.36px;

}

#email-word2 {
 font-family: Palatino-Roman;

 color: #000000;
 letter-spacing: 0.36px;
}
.message {
   /* Rectangle 6 Copy 4: */
background: rgba(239,239,239,0.77);
border: 2px solid #9B9B9B;
height: 120px;
width: 337px;
margin-top: 10px;
}

.message2 {
 background: rgba(239,239,239,0.77);
 border: 2px solid #9B9B9B;
 height: 120px;
 width: 337px;
 margin-top: 10px;
}

.contact-name {
   display: flex;


}
.contact-name2 {
 display: flex;
}
.first-last {
 display: flex;
}

.first-last2 {
 display: flex;
}
#first-name {
margin-bottom: -23px;
/* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}
#first-name2 {
 margin-bottom: -23px;
 /* Name*: */
 font-family: Palatino-Roman;
 color: #000000;
 letter-spacing: 0.36px;
}
#last-name{
 margin-left: 100px;

 margin-bottom: 0px;
 /* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}

#last-name2 {
 margin-left: 100px;

 margin-bottom: 0px;
 /* Name*: */
font-family: Palatino-Roman;
color: #000000;
letter-spacing: 0.36px;
}


.contact {
   /*margin-left: 400px;*/
   font-family: HelveticaNeue-Light;
   font-weight: lighter;
   font-size: 32px;
   color: #000000;
   letter-spacing: 2.96px;
   padding-right: 157px;
}
.contactbody {
 margin-top: 50px;
 padding-right: 40px;
}

.contactbody p {
 font-family: AvenirNextRegular;
 font-size: 22px;
 color: #4A4A4A;
 letter-spacing: 0;
}
.contactinfo li {

 /* For any information: */
font-family: AvenirNextRegular;
font-size: 22px;
color: #4A4A4A;
letter-spacing: 0;
}
.herepdf{
 color: black;
 text-decoration: underline;
}
.conemail {
 color: black;
 text-decoration: underline;
}
.forany2 {
 font-family: AvenirNextRegular;
 font-size: 22px;
 color: #4A4A4A;
 letter-spacing: 0;
 padding-left: 95px;
}
.contact-space {

/*margin-left: 150px;*/
margin-bottom: 520px;
margin-top: 25px;
/*left: 100px;
right: 250px;*/
display: flex;
flex-direction: column;
align-items: center;


}

.construction {
   position: relative;
   width: 100%;
   margin-top: -300px;
   z-index: -1;
}

.contact-us2 {

       font-family: AvenirNextRegular;
       font-size: 72px;
       font-weight: lighter;
       color: white;
       letter-spacing: 2.9px;
       text-align: center;
       position: absolute;
       bottom: 400px;
       left: 460px;
}
.submit {

margin-top: 30px;
font-family: AvenirNextRegular;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 2px;
background: #000000;
border: 3px solid #000000;
border-radius: 100px;
text-transform: uppercase;

}

.submit2 {
 margin-top: 30px;
 font-family: AvenirNextRegular;
 font-size: 20px;
 color: #FFFFFF;
 letter-spacing: 2px;
 background: #000000;
 border: 3px solid #000000;
 border-radius: 100px;
 text-transform: uppercase;

}

.submit-partners {
 font-family: HelveticaNeue-Medium;
 font-size: 20px;
 color: #FFFFFF;
 letter-spacing: 2px;
 background: #000000;
 border: 3px solid #000000;
 border-radius: 100px;
 margin-top: 30px;
}

.submit:hover {
   background-color: white;
   color: black;
}

.trailer-title {
 font-family: AvenirNextRegular;
 text-transform: uppercase;
 font-size: 72px;
 color: #F9F9F9;
 letter-spacing: 6.5px;
 font-weight: normal;
text-align: center;
/*display: flex;
justify-content: center;*/
position: absolute;
bottom: 450px;
margin-left: 480px;
}

.soon {
 font-family: AvenirNextRegular;
 font-size: 50px;
 color: #000000;
 letter-spacing: 3.2px;
 font-weight: lighter;
 text-transform: uppercase;
 margin-bottom: 950px;
 margin-top: 40px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.video-container {
 position: relative;

}
video {
 height: auto;
 vertical-align: middle;
 width: 100%;
}
.overlay-desc {
 background: rgba(0,0,0,0);
 position: absolute;
 top: 0; right: 0; bottom: 0; left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}


.wayne-title {
 font-family: AvenirNextRegular;
 font-size: 72px;
 color: #F9F9F9;
 letter-spacing: 6.5px;
 font-weight: normal;
 text-transform: uppercase;
 text-align: center;
}

.wayne-title2 {
 font-family: AvenirNextRegular;
 font-size: 72px;
 color: #F9F9F9;
 letter-spacing: 6.5px;
 font-weight: normal;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 200px;

}

.wh2cc {
 font-family: AvenirNextRegular;
 font-size: 25px;
 color: #F9F9F9;
 letter-spacing: 6.5px;
 font-weight: normal;
 text-transform: uppercase;
 /* WH2CC: */
text-shadow: 0 2px 3px #FFFFFF;

}

.navbar>.container-fluid .navbar-brand {

  padding: 15px 15px 15px 42px;
font-size: 25px;
}

.wh2cc:hover {
color: #F9F9F9;
 text-shadow: 0 2px 3px #FFFFFF;
}

/*.wh2cc2 {
 font-family: Avenir;
 font-size: 22px;
 letter-spacing: 6.5px;
 font-weight: normal;
 text-transform: uppercase;
 float: left;

}*/

@media (max-width: 1680.98px) { 
   .gallerypics {
   height: 332px;
   }
   
    }

    @media (max-width: 1400.98px) { 
      .gallerypics {
      height: 322px;
      }
      
       }

@media (max-width: 1199.98px) { 
   .gallerypics {
   height: 332px;
   }
   
    }
   
   @media (max-width: 991.98px) { 
   .gallerypics {
     height: 302px;
   }

}
     
    @media (max-width: 767.98px) { 
   .gallerypics {
     height: 282px;
   }
}